<div style='width:32px;
			height:32px;
			background-image: url(spritesheet.png);                                                                                                                                                                                                                                                                                                                                                    
.background    { background-image: url(sky.jpg);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }

.lava          { background-image: url(lava.png); }
.wall          { background-image: url(stone.png); }
.spike         { background-image: url(spikes.png); }

.actor  { position: absolute;  }
.player { background-image: url(barbarian.png); }
.coin { background-image: url(coin.png); }
.killer { background-image: url(imp.png);
		background-position: -32px 0px; }

.game {
  overflow: hidden;
  max-width: 800px;
  max-height: 650px;
  position: relative;
}>
</div>

